@charset "utf-8";

/*
common
================================================ */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-style: normal;
    color: #000;
    background-color: #FD5B19;
}

img {
    max-width: 100%;
    height: auto;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

.bold {
    font-weight: bold;
}

.color-fff {
    color: #fff;
}

.color-blue {
    color: #004DA4;
}

.color-topic-blue {
    color: #003E92;
}

.color-orange {
    color: #FD5B19;
}

.bc-orange {
    background-color: #FD5B19;
}

.bc-blue {
    background-color: #004DA4;
}

.section-title {
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
}

.container {
    width: 100%;
    padding: 0 15px;
}


/* common PC */
@media  (min-width:769px) {
    .container {
        max-width: 1200px;
        padding: 0 16px;
        margin: 0 auto;
    }

    .wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 20px;
    }

    .spBr {
        display: none;
    }

} /* @media  (min-width:769px) */


/*
hero
================================================ */
.hero {
    width: 100%;
    padding: 16px 0 48px;
}

.hero__title {
    text-align: center;
}

.hero__title a img {
    width: 146px;
    line-height: 1px;
}

.wrapper--hero {
    margin-top: 30px;
}

.hero__group {
    /* pc flex */
}

.hero__img {
    width: calc(100% * (280/390));
    min-width: 280px;
    max-width: 474px;
    aspect-ratio: 280 / 383;
    margin: 0 auto;
}

.hero__img img {
    width: 100%;
    height: auto;
}

.hero__caption-main {
    margin-top: 18px;
    font-size: 38px;
    line-height: 1.26;
}

.hero__caption-lead {
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.4;
}


/* hero PC */
@media  (min-width:769px) {
    .wrapper--hero {
        padding: 0 30px;
        margin-top: 0;
    }

    .hero {
        padding: 26px 0;
    }

    .container--hero {
        /* hero__title配置のため */
        position: relative;
    }

    .hero__title {
        text-align: left;
        position: absolute;
        top: 0;
        left: 16px;
    }

    .hero__title a img {
        width: 195px;
    }

    .hero__group {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 34px;
        flex-direction: row-reverse;
    }

    .hero__img {
        width: 100%;
        min-width: 280px;
        max-width: 474px;
        aspect-ratio: 474 / 648;
        margin: 0;
    }

    .hero__img img {
        width: 100%;
        height: auto;
    }

    .hero__caption-main {
        margin-top: 0;
        font-size: 64px;
        line-height: 1.25;
    }

    .hero__caption-lead {
        margin-top: 20px;
        font-size: 25px;
        line-height: 1.44;
    }

} /* @media  (min-width:769px) */


/*
cta
================================================ */
.cta {
    background-color: #BCE0EB;
    padding: 28px 0 24px;
    text-align: center;
}

.cta__lead {
    font-size: 14px;
    line-height: 1.42;
    /* 斜め線装飾のための設定 */
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.cta__lead::before,
.cta__lead::after {
    content: "";
    position: absolute;
    top: 96%; /* 親要素の上からの位置 */
    width: 30px; /* 線の長さ */
    height: 1px; /* 線の太さ */
    background-color: #004DA4;
}
.cta__lead::before {
    left: -42px; /* 線の横位置 */
    transform: rotate(60deg); /* 線の傾き具合 */
    transform-origin: right bottom;
}
.cta__lead::after {
    right: -42px; /* 線の横位置 */
    transform: rotate(-60deg); /* 線の傾き具合 */
    transform-origin: left bottom;
}

.cta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 232px;
    margin: 11px auto 0;
    height: 45px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}


/* cta PC */
@media  (min-width:769px) {
    .cta {
        padding: 46px 0 40px;
    }

    .cta__lead {
        font-size: 20px;
        line-height: 1.45;
    }

    .cta__lead::before,
    .cta__lead::after {
        position: absolute;
        top: 90%; /* 親要素の上からの位置 */
        width: 30px; /* 線の長さ */
        height: 1px; /* 線の太さ */
        background-color: #004DA4;
    }
    .cta__lead::before {
        left: -40px; /* 線の横位置 */
        transform: rotate(50deg); /* 線の傾き具合 */
        transform-origin: right bottom;
    }
    .cta__lead::after {
        right: -40px; /* 線の横位置 */
        transform: rotate(-50deg); /* 線の傾き具合 */
        transform-origin: left bottom;
    }

    .cta__btn {
        width: 100%;
        max-width: 338px;
        margin: 20px auto 0;
        height: 64px;
        font-size: 22px;
        line-height: 1.45;
    }

} /* @media  (min-width:769px) */


/*
about
================================================ */
.about {
    background-color: #FFFAF5;
    padding: 40px 0;
}

.about__lead {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
}

.about__txt {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
}

.about__img {
    width: 100%;
    max-width: 198px;
    aspect-ratio: 198 / 400;
    margin: 28px auto 0;
}

.about__img img {
    width: 100%;
    height: auto;
}


/* about PC */
@media  (min-width:769px) {
    .about {
        padding: 80px 0;
    }

    .container--about {
        max-width: 944px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .about__txtZone {
        width: calc(100% * (528/944));
    }

    .section-title--about {
        text-align: left;
    }

    .about__lead {
        margin-top: 8px;
        font-size: 28px;
        line-height: 1.42;
        text-align: left;
    }

    .about__txt {
        margin-top: 24px;
        font-size: 16px;
        line-height: 2;
    }

    .about__img {
        width: calc(100% * (296/944));
        max-width: 296px;
        aspect-ratio: 296 / 600;
        margin: 0;
    }

    .about__img img {
        width: 100%;
        height: auto;
    }

} /* @media  (min-width:769px) */


/*
reasons
================================================ */
.reasons {
    background-color: #FFFAF5;
    padding: 40px 0 36px;
}

.reasons__lead {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
}

.reasons__lead-en {
    font-size: 30px;
    line-height: 1.26;
}

.reasons__lead-num {
    font-size: 32px;
    line-height: 1.25;
    /* 調整 */
    letter-spacing: -0.2em;
}

.reasons__txt {
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
}

.reasons__list {
    margin-top: 29px;
}

.reasons__item:not(:first-of-type) {
    margin-top: 28px;
}

.reasons__numImgZone {
    width: 180px;
    height: 198px;
    margin: 0 auto;
    position: relative;
}

.reasons__num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    line-height: 1.25;
    z-index: 10;
}

.reasons__imgCircle {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reasons__imgCircle img {
    width: 100px;
    height: 100px;
}

.reasons__imgCircle--02 img {
    width: 67px;
    height: 61px;
}

.reasons__itemTxt {
    margin-top: 3px;
    text-align: center;
    font-size: 18px;
    line-height: 1.94;
}


/* reasons PC */
@media  (min-width:769px) {
    .reasons {
        padding: 80px 0;
    }

    .container--reasons {
        max-width: 900px;
        padding: 0 16px;
    }

    .reasons__lead {
        margin-top: 8px;
        font-size: 28px;
        line-height: 1.6;
        text-align: center;
    }

    .reasons__lead-en {
        font-size: 40px;
        line-height: 1.25;
    }

    .reasons__lead-num {
        font-size: 48px;
        line-height: 1.25;
    }

    .reasons__txt {
        margin-top: 24px;
        font-size: 16px;
        line-height: 2;
    }

    .reasons__list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .reasons__item {
        flex: 1;
    }

    .reasons__item:not(:first-of-type) {
        margin-top: 0;
    }

    .reasons__numImgZone {
        width: 100%;
        max-width: 238px;
        height: auto;
        aspect-ratio: 238 / 273;
        margin: 0 auto;
        position: relative;
    }

    .reasons__num {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 56px;
        line-height: 1.26;
    }

    .reasons__imgCircle {
        width: 100%;
        max-width: 238px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .reasons__imgCircle img {
        width: 100%;
        max-width: 130px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .reasons__imgCircle--02 img {
        width: 100%;
        max-width: 90px;
        height: auto;
        aspect-ratio: 90 / 82;
    }

    .reasons__itemTxt {
        margin-top: 22px;
        font-size: 20px;
        line-height: 1.75;
    }

} /* @media  (min-width:769px) */


/*
faq
================================================ */
.faq {
    background-color: #FFFAF5;
    padding: 40px 0;
}

.faq__lead {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
}

.faq__txt {
    margin-top: 22px;
    font-size: 16px;
    line-height: 1.75;
}

.accordion {
    margin-top: 30px;
}

.accordion-item:not(:first-of-type) {
    margin-top: 16px;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #FD5B19;
}

.accordion-header {
    width: 100%;
    padding: 18px 20px 15px;
    background: #fff;
    color: #000;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    gap: 8px;
}

/* 調整 */
.accordion-header--ad {
    padding: 18px 20px 16px;
}
.accordion-header--ad2 {
    padding: 18px 20px 17px;
}

.accordion-label {
    font-size: 20px;
    line-height: 1.4;
    flex-shrink: 0; /* スペースが足りないときに 「縮まない」 ようにする */
}

.accordion-question {
    flex-grow: 1; /* 余白を埋めるように「伸びる」 */
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    text-align: left;
}

.accordion-icon {
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    transform: translate(1px, 6px);
}

.accordion-icon::before,
.accordion-icon::after {
  content: '';
  position: absolute;
  background-color: #000;
  transition: transform 0.3s ease;
}

/* 横線（共通） */
.accordion-icon::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  transform: translateY(-50%);
}

/* 縦線（+ のときだけ見える） */
.accordion-icon::after {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: translateX(-50%);
}

/* 開いた状態では縦線を透明にして「−」に見せる */
.accordion-header.active .accordion-icon::after {
  opacity: 0;
}

.accordion-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.accordion-content p {
    padding: 0 20px 15px;
    font-size: 14px;
    line-height: 1.92;
}


/* faq PC */
@media  (min-width:769px) {
    .faq {
        padding: 80px 0;
    }

    .faq__lead {
        margin-top: 8px;
        font-size: 28px;
        line-height: 1.42;
    }

    .faq__txtWrapper {
        max-width: 900px;
        margin: 0 auto;
    }

    .faq__txt {
        margin-top: 24px;
        font-size: 16px;
        line-height: 2;
    }

    .accordion {
        max-width: 800px;
        margin: 32px auto 0;
    }

    .accordion-item:not(:first-of-type) {
        margin-top: 20px;
    }

    .accordion-item {
        background-color: #fff;
    }

    .accordion-header {
        width: 100%;
        padding: 24px 32px;
        gap: 16px;
    }

    .accordion-label {
        font-size: 28px;
        line-height: 1;
    }

    .accordion-question {
        font-size: 18px;
        line-height: 2;
    }

    .accordion-icon {
        position: relative;
        width: 16px;
        height: 16px;
    }

    .accordion-icon::before,
    .accordion-icon::after {
    content: '';
    position: absolute;
    }

    /* 横線（共通） */
    .accordion-icon::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateY(-50%);
    }

    /* 縦線（+ のときだけ見える） */
    .accordion-icon::after {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
    }

    /* 開いた状態では縦線を透明にして「−」に見せる */
    .accordion-header.active .accordion-icon::after {
    opacity: 0;
    }

    .accordion-content {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .accordion-content p {
        padding: 0 32px 24px;
        font-size: 16px;
        line-height: 1.68;
    }

} /* @media  (min-width:769px) */


/*
footer
================================================ */
footer {
    background-color: #333;
    padding: 32px 0;
}

.footer__logo {
    width: 146px;
    line-height: 1px;
    margin: 0 auto;
}

.footerNav {
    margin-top: 32px;
}

.footerNav__item {
    text-align: center;
}

.footerNav__item a {
    font-size: 12px;
    line-height: 1.41;
    color: #fff;
}

.footerNav__item:not(:first-of-type) {
    margin-top: 13px;
}


/* footer PC */
@media  (min-width:769px) {
    footer {
        padding: 32px 0;
    }

    .container--footer {
        padding: 0 50px;
    }

    .footer__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo {
        width: 195px;
        margin: 0;
    }

    .footerNav {
        margin-top: 0;
    }

    .footerNav__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 32px;
    }

    .footerNav__item {
        text-align: initial;
    }

    .footerNav__item a {
        font-size: 13px;
        line-height: 1.46;
    }

    .footerNav__item:not(:first-of-type) {
        margin-top: 0;
    }

} /* @media  (min-width:769px) */